<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjq.spider.dao.ProductDao">

    <insert id="save">
        INSERT INTO product (
        goods_url,
        goods_sn,
        goods_name,
        cat,
        goods_number,
        goods_weight,
        shop_price,
        goods_desc,
        goods_img,
        params,
        standard_value,
        cds_number,
        development_unit,
        updated_time,
        created_time)
          VALUES
	    (
            #{goodsUrl},
            #{goodsSn},
            #{goodsName},
            #{cat},
            #{goodsNumber},
            #{goodsWeight},
            #{shopPrice},
            #{goodsDesc},
            #{goodsImg},
            #{params},
            #{standardValue},
            #{cdsNumber},
            #{developmentUnit},
            #{updatedTime},
            now()
        )
    </insert>

    <select id="findByUrl" resultType="com.zjq.spider.model.Product">
        select * from product where goods_url = #{goodsUrl}
    </select>

    <update id="update">
        UPDATE product
        <set>
            <if test="cat != null and cat != ''">
                cat = #{cat},
            </if>
            <if test="goodsNumber != null and goodsNumber != ''">
                goods_number = #{goodsNumber},
            </if>
            <if test="goodsWeight != null and goodsWeight != ''">
                goods_weight = #{goodsWeight},
            </if>
            <if test="shopPrice != null and shopPrice != ''">
                shop_price = #{shopPrice},
            </if>
            <if test="goodsDesc != null and goodsDesc != ''">
                goods_desc = #{goodsDesc},
            </if>
            <if test="goodsImg != null and goodsImg != ''">
                goods_img = #{goodsImg},
            </if>
            <if test="params != null and params != ''">
                params = #{params},
            </if>
            <if test="standardValue != null and standardValue != ''">
                standard_value = #{standardValue},
            </if>
            <if test="cdsNumber != null and cdsNumber != ''">
                cds_number = #{cdsNumber},
            </if>
            <if test="developmentUnit != null and developmentUnit != ''">
                development_unit = #{developmentUnit},
            </if>
            updated_time = #{updatedTime}
        </set>
        WHERE goods_url = #{goodsUrl}
    </update>

    <insert id="saveByTableName" useGeneratedKeys="true" keyProperty="product.goodsId">
        INSERT INTO ${tableName} (
        goods_url,
        goods_sn,
        goods_name,
        cat,
        goods_number,
        goods_weight,
        shop_price,
        goods_desc,
        goods_img,
        params,
        standard_value,
        cds_number,
        development_unit,
        updated_time,
        created_time)
          VALUES
	    (
            #{product.goodsUrl},
            #{product.goodsSn},
            #{product.goodsName},
            #{product.cat},
            #{product.goodsNumber},
            #{product.goodsWeight},
            #{product.shopPrice},
            #{product.goodsDesc},
            #{product.goodsImg},
            #{product.params},
            #{product.standardValue},
            #{product.cdsNumber},
            #{product.developmentUnit},
            #{product.updatedTime},
            now()
        )
    </insert>

    <update id="updateByTableName">
        UPDATE ${tableName}
        <set>
            <if test="product.cat != null and product.cat != ''">
                cat = #{product.cat},
            </if>
            <if test="product.goodsNumber != null and product.goodsNumber != ''">
                goods_number = #{product.goodsNumber},
            </if>
            <if test="product.goodsWeight != null and product.goodsWeight != ''">
                goods_weight = #{product.goodsWeight},
            </if>
            <if test="product.shopPrice != null and product.shopPrice != ''">
                shop_price = #{product.shopPrice},
            </if>
            <if test="product.goodsDesc != null and product.goodsDesc != ''">
                goods_desc = #{product.goodsDesc},
            </if>
            <if test="product.goodsImg != null and product.goodsImg != ''">
                goods_img = #{product.goodsImg},
            </if>
            <if test="product.params != null and product.params != ''">
                params = #{product.params},
            </if>
            <if test="product.standardValue != null and product.standardValue != ''">
                standard_value = #{product.standardValue},
            </if>
            <if test="product.cdsNumber != null and product.cdsNumber != ''">
                cds_number = #{product.cdsNumber},
            </if>
            <if test="product.developmentUnit != null and product.developmentUnit != ''">
                development_unit = #{product.developmentUnit},
            </if>
            updated_time = #{product.updatedTime}
        </set>
        WHERE goods_url = #{product.goodsUrl}
    </update>

    <insert id="saveIchemistryProduct" useGeneratedKeys="true" keyProperty="product.goodsId">
        INSERT INTO product_ichemistry (
        goods_url,
        goods_sn,
        goods_name,
        goods_english_name,
        goods_alias,
        cat,
        goods_number,
        goods_weight,
        shop_price,
        goods_desc,
        goods_img,
        params,
        standard_value,
        cds_number,
        cas_number,
        development_unit,
        molecular_structure,
        molecular_formula,
        molecular_weight,
        updated_time,
        created_time)
          VALUES
	    (
            #{product.goodsUrl},
            #{product.goodsSn},
            #{product.goodsName},
            #{product.goodsEnglishName},
            #{product.goodsAlias},
            #{product.cat},
            #{product.goodsNumber},
            #{product.goodsWeight},
            #{product.shopPrice},
            #{product.goodsDesc},
            #{product.goodsImg},
            #{product.params},
            #{product.standardValue},
            #{product.cdsNumber},
            #{product.casNumber},
            #{product.developmentUnit},
            #{product.molecularStructure},
            #{product.molecularFormula},
            #{product.molecularWeight},
            #{product.updatedTime},
            now()
        )
    </insert>

    <update id="updateIchemistryProduct">
        UPDATE product_ichemistry
        <set>
            <if test="product.cat != null and product.cat != ''">
                cat = #{product.cat},
            </if>
            <if test="product.goodsNumber != null and product.goodsNumber != ''">
                goods_number = #{product.goodsNumber},
            </if>
            <if test="product.goodsWeight != null and product.goodsWeight != ''">
                goods_weight = #{product.goodsWeight},
            </if>
            <if test="product.shopPrice != null and product.shopPrice != ''">
                shop_price = #{product.shopPrice},
            </if>
            <if test="product.goodsDesc != null and product.goodsDesc != ''">
                goods_desc = #{product.goodsDesc},
            </if>
            <if test="product.goodsImg != null and product.goodsImg != ''">
                goods_img = #{product.goodsImg},
            </if>
            <if test="product.params != null and product.params != ''">
                params = #{product.params},
            </if>
            <if test="product.standardValue != null and product.standardValue != ''">
                standard_value = #{product.standardValue},
            </if>
            <if test="product.cdsNumber != null and product.cdsNumber != ''">
                cds_number = #{product.cdsNumber},
            </if>
            <if test="product.developmentUnit != null and product.developmentUnit != ''">
                development_unit = #{product.developmentUnit},
            </if>
            <if test="product.goodsEnglishName != null and product.goodsEnglishName != ''">
                goods_english_name = #{product.goodsEnglishName},
            </if>
            <if test="product.goodsAlias != null and product.goodsAlias != ''">
                goods_alias = #{product.goodsAlias},
            </if>
            <if test="product.casNumber != null and product.casNumber != ''">
                cas_number = #{product.casNumber},
            </if>
            <if test="product.molecularStructure != null and product.molecularStructure != ''">
                molecular_structure = #{product.molecularStructure},
            </if>
            <if test="product.molecularFormula != null and product.molecularFormula != ''">
                molecular_formula = #{product.molecularFormula},
            </if>
            <if test="product.molecularWeight != null and product.molecularWeight != ''">
                molecular_weight = #{product.molecularWeight},
            </if>
            updated_time = #{product.updatedTime}
        </set>
        WHERE goods_url = #{product.goodsUrl}
    </update>

    <insert id="saveIchemistryProductMsds" useGeneratedKeys="true" keyProperty="product.goodsId">
        INSERT INTO product_ichemistry_msds (
        goods_url,
        goods_sn,
        goods_name,
        goods_english_name,
        goods_alias,
        cat,
        goods_number,
        goods_weight,
        shop_price,
        goods_desc,
        goods_img,
        params,
        standard_value,
        cds_number,
        cas_number,
        un_number,
        dangerous_goods_number,
        development_unit,
        molecular_structure,
        molecular_formula,
        molecular_weight,
        updated_time,
        created_time)
          VALUES
	    (
            #{product.goodsUrl},
            #{product.goodsSn},
            #{product.goodsName},
            #{product.goodsEnglishName},
            #{product.goodsAlias},
            #{product.cat},
            #{product.goodsNumber},
            #{product.goodsWeight},
            #{product.shopPrice},
            #{product.goodsDesc},
            #{product.goodsImg},
            #{product.params},
            #{product.standardValue},
            #{product.cdsNumber},
            #{product.casNumber},
            #{product.unNumber},
            #{product.dangerousGoodsNumber},
            #{product.developmentUnit},
            #{product.molecularStructure},
            #{product.molecularFormula},
            #{product.molecularWeight},
            #{product.updatedTime},
            now()
        )
    </insert>

    <update id="updateIchemistryProductMsds">
        UPDATE product_ichemistry_msds
        <set>
            <if test="product.cat != null and product.cat != ''">
                cat = #{product.cat},
            </if>
            <if test="product.goodsNumber != null and product.goodsNumber != ''">
                goods_number = #{product.goodsNumber},
            </if>
            <if test="product.goodsWeight != null and product.goodsWeight != ''">
                goods_weight = #{product.goodsWeight},
            </if>
            <if test="product.shopPrice != null and product.shopPrice != ''">
                shop_price = #{product.shopPrice},
            </if>
            <if test="product.goodsDesc != null and product.goodsDesc != ''">
                goods_desc = #{product.goodsDesc},
            </if>
            <if test="product.goodsImg != null and product.goodsImg != ''">
                goods_img = #{product.goodsImg},
            </if>
            <if test="product.params != null and product.params != ''">
                params = #{product.params},
            </if>
            <if test="product.standardValue != null and product.standardValue != ''">
                standard_value = #{product.standardValue},
            </if>
            <if test="product.cdsNumber != null and product.cdsNumber != ''">
                cds_number = #{product.cdsNumber},
            </if>
            <if test="product.developmentUnit != null and product.developmentUnit != ''">
                development_unit = #{product.developmentUnit},
            </if>
            <if test="product.goodsEnglishName != null and product.goodsEnglishName != ''">
                goods_english_name = #{product.goodsEnglishName},
            </if>
            <if test="product.goodsAlias != null and product.goodsAlias != ''">
                goods_alias = #{product.goodsAlias},
            </if>
            <if test="product.casNumber != null and product.casNumber != ''">
                cas_number = #{product.casNumber},
            </if>
            <if test="product.unNumber != null and product.unNumber != ''">
                un_number = #{product.unNumber},
            </if>
            <if test="product.dangerousGoodsNumber != null and product.dangerousGoodsNumber != ''">
                dangerous_goods_number = #{product.dangerousGoodsNumber},
            </if>
            <if test="product.molecularStructure != null and product.molecularStructure != ''">
                molecular_structure = #{product.molecularStructure},
            </if>
            <if test="product.molecularFormula != null and product.molecularFormula != ''">
                molecular_formula = #{product.molecularFormula},
            </if>
            <if test="product.molecularWeight != null and product.molecularWeight != ''">
                molecular_weight = #{product.molecularWeight},
            </if>
            updated_time = #{product.updatedTime}
        </set>
        WHERE goods_url = #{product.goodsUrl}
    </update>

    <insert id="saveIchemistryProductDanger" useGeneratedKeys="true" keyProperty="product.goodsId">
        INSERT INTO product_ichemistry_danger (
        goods_url,
        goods_sn,
        goods_name,
        goods_english_name,
        goods_alias,
        cat,
        goods_number,
        goods_weight,
        shop_price,
        goods_desc,
        goods_img,
        params,
        standard_value,
        cds_number,
        cas_number,
        un_number,
        dangerous_goods_number,
        development_unit,
        molecular_structure,
        molecular_formula,
        molecular_weight,
        updated_time,
        created_time)
          VALUES
	    (
            #{product.goodsUrl},
            #{product.goodsSn},
            #{product.goodsName},
            #{product.goodsEnglishName},
            #{product.goodsAlias},
            #{product.cat},
            #{product.goodsNumber},
            #{product.goodsWeight},
            #{product.shopPrice},
            #{product.goodsDesc},
            #{product.goodsImg},
            #{product.params},
            #{product.standardValue},
            #{product.cdsNumber},
            #{product.casNumber},
            #{product.unNumber},
            #{product.dangerousGoodsNumber},
            #{product.developmentUnit},
            #{product.molecularStructure},
            #{product.molecularFormula},
            #{product.molecularWeight},
            #{product.updatedTime},
            now()
        )
    </insert>

    <update id="updateIchemistryProductDanger">
        UPDATE product_ichemistry_danger
        <set>
            <if test="product.cat != null and product.cat != ''">
                cat = #{product.cat},
            </if>
            <if test="product.goodsNumber != null and product.goodsNumber != ''">
                goods_number = #{product.goodsNumber},
            </if>
            <if test="product.goodsWeight != null and product.goodsWeight != ''">
                goods_weight = #{product.goodsWeight},
            </if>
            <if test="product.shopPrice != null and product.shopPrice != ''">
                shop_price = #{product.shopPrice},
            </if>
            <if test="product.goodsDesc != null and product.goodsDesc != ''">
                goods_desc = #{product.goodsDesc},
            </if>
            <if test="product.goodsImg != null and product.goodsImg != ''">
                goods_img = #{product.goodsImg},
            </if>
            <if test="product.params != null and product.params != ''">
                params = #{product.params},
            </if>
            <if test="product.standardValue != null and product.standardValue != ''">
                standard_value = #{product.standardValue},
            </if>
            <if test="product.cdsNumber != null and product.cdsNumber != ''">
                cds_number = #{product.cdsNumber},
            </if>
            <if test="product.developmentUnit != null and product.developmentUnit != ''">
                development_unit = #{product.developmentUnit},
            </if>
            <if test="product.goodsEnglishName != null and product.goodsEnglishName != ''">
                goods_english_name = #{product.goodsEnglishName},
            </if>
            <if test="product.goodsAlias != null and product.goodsAlias != ''">
                goods_alias = #{product.goodsAlias},
            </if>
            <if test="product.casNumber != null and product.casNumber != ''">
                cas_number = #{product.casNumber},
            </if>
            <if test="product.unNumber != null and product.unNumber != ''">
                un_number = #{product.unNumber},
            </if>
            <if test="product.dangerousGoodsNumber != null and product.dangerousGoodsNumber != ''">
                dangerous_goods_number = #{product.dangerousGoodsNumber},
            </if>
            <if test="product.molecularStructure != null and product.molecularStructure != ''">
                molecular_structure = #{product.molecularStructure},
            </if>
            <if test="product.molecularFormula != null and product.molecularFormula != ''">
                molecular_formula = #{product.molecularFormula},
            </if>
            <if test="product.molecularWeight != null and product.molecularWeight != ''">
                molecular_weight = #{product.molecularWeight},
            </if>
            updated_time = #{product.updatedTime}
        </set>
        WHERE goods_url = #{product.goodsUrl}
    </update>

    <select id="findByUrlByTableName" resultType="com.zjq.spider.model.Product">
        select * from ${tableName} where goods_url = #{goodsUrl}
    </select>

    <insert id="addParamByTableName">
        INSERT INTO ${tableName} (
        product_id,
        name,
        value
        )
          VALUES
	    (
            #{productParam.productId},
            #{productParam.name},
            #{productParam.value}
        )
    </insert>

    <delete id="deleteParamByTableName">
        delete from ${tableName} where product_id = #{productId}
    </delete>

    <insert id="addFileByTableName">
        INSERT INTO ${tableName} (
        goods_id,
        goods_url,
        goods_file_url,
        goods_file_type,
        status,
        created_time
        )
          VALUES
	    (
            #{productFile.goodsId},
            #{productFile.goodsUrl},
            #{productFile.goodsFileUrl},
            #{productFile.goodsFileType},
            #{productFile.status},
            now()
        )
    </insert>


    <select id="findProductFile" resultType="com.zjq.spider.model.ProductFile">
        select * from ${tableName}
        <where>

            <if test="productFile.goodsFileType != null and productFile.goodsFileType != ''">
                and goods_file_type = #{productFile.goodsFileType}
            </if>
            <if test="productFile.status != null and productFile.status != '' and productFile.status != 'all'">
                and status = #{productFile.status}
            </if>
            <if test="productFile.status == null">
                and status is null
            </if>
        </where>
    </select>

    <update id="updateProductFile">
        UPDATE ${tableName}
        <set>
            status = #{productFile.status},
            updated_time = now()
        </set>
        WHERE id = #{productFile.id}
    </update>

</mapper>